/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  display: flex;
  flex: 1 1 100%;
  padding: 0;
  margin: 0;
}
app-root {
  height: 100%;
  display: flex;
  flex: 1 0 100%;
}


mat-drawer {
  background-color: #999999;
  padding: 0 10px;
}
